.card {
    $card: &;

    &__title {
        font-family: $bodyText;
        font-size: .95rem;
        color: $darkGray;

        &::before {
            content: "";
            width: 3px;
            height: .9rem;
            display: inline-block;
            background-color: $darkGray;
            margin-right: .6rem;
        }
    }

    &__wrapper {
        position: relative;

        &:hover {
            #{ $card }__buttons {
                transform: scaleY(1);
            }

            #{ $card }__link {
                opacity: 1;
            }
        }
    }

    &__image {
        max-width: 100%;
        display: block;
        cursor: pointer;
    }

    &__buttons {
        background: $lighterBlack;
        padding: 1rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: .2s ease-out;
        @include flex-sb-c;

        &--active {
            transform: scaleY(1);

            #{ $card }__link {
                opacity: 1;
            }
        }
    }

    &__link {
        font-family: $mainText;
        font-size: .88rem;
        color: $white;
        text-decoration: none;
        opacity: 0;
        transition: .2s ease-in-out .1s;
    }
}