.card {
    $card: &;

    &__title {
        margin-top: 0.5rem;

        &::before {
            content: "";
            width: 3px;
            height: 0.9rem;
            display: inline-block;
            background-color: $darkGray;
            margin-right: 0.6rem;
        }
    }

    &__wrapper {
        position: relative;

        &:hover {
            #{ $card }__buttons {
                transform: scaleY(1);
            }

            #{ $card }__link {
                opacity: 1;
            }
        }
    }

    &__image {
        max-width: 100%;
        display: block;
        cursor: pointer;
    }

    &__buttons {
        background: rgba(0, 0, 0, 0.856);
        padding: 1rem;
        width: 100%;
        position: absolute;
        bottom: 0;
        transform: scaleY(0);
        transform-origin: bottom;
        transition: 0.2s ease-out;
        @include flex-sb-c;

        &--active {
            transform: scaleY(1);

            #{ $card }__link {
                opacity: 1;
            }
        }
    }

    &__link {
        font-family: $mainText;
        font-size: 0.88rem;
        color: $white;
        text-decoration: none;
        opacity: 0;
        transition: 0.2s ease-in-out 0.1s;
    }
}
