@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

$black: hsl(0, 0%, 9%);
$lighterBlack: rgba(0, 0, 0, 0.856);
$darkGray: #6b6b6b;
$lightGray: hsl(0, 0%, 65%);
$white: hsl(0, 0%, 100%);

$photoshop: hsl(207, 100%, 11%);
$html: hsl(13, 79%, 52%);
$css: hsl(212, 69%, 40%);
$sass: hsl(331, 50%, 60%);
$js: hsl(39, 78%, 52%);
$react: hsl(192, 100%, 50%);

$fontFamily: "Alata", sans-serif;