@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

$black: #464a4e;
$lighterBlack: rgba(0, 0, 0, 0.2);
$darkGray: #706f6f;
$lightGray: #f4f4f4;
$white: hsl(0, 0%, 100%);

$photoshop: hsl(207, 100%, 11%);
$html: hsl(13, 79%, 52%);
$css: hsl(212, 69%, 40%);
$sass: hsl(331, 50%, 60%);
$js: hsl(53, 93%, 54%);
$react: hsl(192, 100%, 50%);

$mainText: "Alata", sans-serif;
$bodyText: "Lato", sans-serif;
