@import "variables";
@import "mixins";
@import "portfolio";

html {
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    margin: 0;
}

* {
    box-sizing: inherit;
}

.nav {
    @include flex-sb-c;
    background-color: $black;
    padding: 1.5rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    $nav: &;

    &--active {
        #{ $nav }__burger--first {
            transform: rotate(45deg);
        }

        #{ $nav }__burger--mid {
            opacity: 0;
        }

        #{ $nav }__burger--last {
            transform: rotate(-45deg);
        }

        #{ $nav }__menu {
            left: 0;
        }
    }

    @include media-query(desktop-sm) {
        width: 250px;
        padding: 3rem 2rem;
        bottom: 0;
        display: initial;
    }

    &__logo {
        font-family: $mainText;
        font-size: 2rem;
        color: $white;
        margin: 0;
        line-height: 100%;
        cursor: default;
    }

    &__toggle {
        cursor: pointer;

        @include media-query(desktop-sm) {
            display: none;
        }
    }

    &__burger {
        width: 1.2rem;
        height: 3px;
        background-color: $white;
        border-radius: 2rem;
        transition: .2s ease-out;
        
        &:not(:last-child) {
            margin-bottom: 4px;
        }

        &--first {
            transform-origin: 2px 1px;
        }

        &--last {
            transform-origin: -2px 0px;
        }
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        width: 100%;
        position: fixed;
        top: 80px;
        left: -100%;
        bottom: 0;
        background-color: $lighterBlack;
        z-index: 10;
        transition: .2s ease;

        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @include media-query(desktop-sm) {
            transition: none;
            text-align: left;
            position: initial;
            height: 100%;
            background-color: transparent;
        }
    }

    &__item {
        display: block;
        font-family: $mainText;
        color: $lightGray;
        padding: 1rem 0;
        cursor: pointer;

        &::after {
            content: "";
            display: block;
            width: 20px;
            height: 2px;
            background-color: $white;
            margin: .5rem auto 0;
            transform: scaleX(0);
            transform-origin: left;
            transition: .2s ease;

            @include media-query(desktop-sm) {
                margin: .5rem 0 0;
            }
        }

        &:hover, &--active {
            color: $white;

            &::after {
                transform: scaleX(1);
            }
        }
    }

    &__icons {
        margin: 0 auto;
    }

    &__icon {
        color: $lightGray;
        margin: 0 .8rem;
        font-size: 1.5rem;

        @include media-query(desktop-sm) {
            font-size: 1.2rem;
        }

        &:hover {
            color: $white;
        }
    }

    &__bg {
        position: absolute;
        top: 0;
        left: 0;
        opacity: .2;
        z-index: -1;
    }
}

.container {
    padding: 120px 1.5rem 2rem;

    @include media-query(desktop-sm) {
        padding: 3rem 4rem;
    }

    &__title {
        font-family: $mainText;
        margin: 0 0 2rem;
        line-height: 100%;
    }
}

.main-content {
    &__bg {
        position: fixed;
        top: -100px;
        right: -10px;
        opacity: .3;
        z-index: -1;
        max-width: 300px;
    }
    
    @include media-query(desktop-sm) {
        grid-area: main;
    }
}

.grid {
    display: grid;

    &--layout {
        @include media-query(desktop-sm) {
            grid-template-columns: 250px 1fr;
        }
    }

    &--portfolio, &--skills {
        // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 2rem;

        @include media-query(tablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // &--skills {
    //     grid-gap: 2rem;
    //     grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    // }
}

.skill  {
    display: flex;
    align-items: center;

    &__wrapper {
        width: 100%;
    }

    &__icon {
        margin-right: 1rem;
        max-width: 60px;
    }

    &__name {
        font-family: $bodyText;
        font-size: .95rem;
        color: $darkGray;
        margin: 0 0 .5rem;
    }

    &__percentage {
        font-family: $mainText;
        font-size: .78rem;
        margin: 0;
        position: absolute;
        right: .5rem;
        color: $white;
        line-height: 100%;
    }

    &__bar {
        height: 1rem;
        border-radius: 2rem;
        position: relative;
        transform: scaleX(0);
        transform-origin: left;
        transition: .3s ease-in-out;
        @include flex-sb-c;

        &--active {
            transform: scaleX(1);
        }

        &--photoshop {
            background-color: $photoshop;
        }

        &--html {
            background-color: $html;
        }

        &--css {
            background-color: $css;
        }

        &--sass {
            background-color: $sass;
        }

        &--javascript {
            background-color: $js;
        }

        &--react {
            background-color: $react;
        }
    }
}

.work {
    border: 1px solid $lighterBlack;
    padding: 1rem;
    border-radius: .5rem;
    margin-bottom: 1.5rem;

    &__wrapper {
        @include flex-sb-c;
    }

    &__details {
        font-family: $bodyText;
    }

    &__company-name {
        font-family: $mainText;
        font-size: 1.2rem;
        margin: 0 0 .4rem;
    }

    &__date {
        font-size: .88rem;
        color: $lighterBlack;
        margin: 0;
    }

    &__tasks {
        padding: 0 1rem;
        margin: 1.5rem 0 0;
    }

    &__task {
        font-size: .88rem;
        color: $darkGray;
        margin-bottom: .4rem;
    }
}

.contact {
    &__text {
        font-family: $bodyText;
        font-size: .95rem;
        color: $darkGray;
        margin-bottom: 2rem;

        &--emphasis {
            color: $black;
        }
    }
}

.full-height {
    min-height: 100vh;
}

.form {
    &__field {
        outline: none;
        background: none;
        border: 1px solid $lightGray;
        width: 100%;
        padding: .8rem;
        border-radius: .5rem;
        margin-bottom: 1rem;
        font-family: $bodyText;
        font-size: .9rem;

        &::placeholder {
            font-family: $bodyText;
            color: $lightGray
        }
    }

    &__error {
        color: red;
        font-family: $bodyText;
        font-size: .88rem;
        margin: -.5rem 0 1rem .8rem;
    }
}

.button {
    outline: none;
    border: none;
    background-color: $black;
    color: $white;
    padding: .5rem 1.5rem;
    font-family: $mainText;
    font-size: .9rem;
    border-radius: .5rem;
    transition: .2s ease-out;
    cursor: pointer;

    @include hover-only {
        &:hover {
            color: $black;
            box-shadow: 0 0 0 2px $black;
            background-color: transparent;
        }
    }

    &__circle {
        display: inline-block;
        width: 10px;
        height: 10px;
        background-color: $white;
        border-radius: 50%;
        animation: loading 1s infinite;
        
        &:not(:last-child) {
            margin-right: 6px;
        }

        &--first {
            animation-delay: .2s;
        }

        &--mid {
            animation-delay: .4s;
        }

        &--last {
            animation-delay: .6s;
        }
    }

    &--download {
        position: absolute;
        top: 50%;
        right: 0;
        width: 230px;
        height: 50px;
        transform: translateY(-50%);
        z-index: -1;
        padding: .5rem 3rem .5rem 1.5rem;
        opacity: 0;
        pointer-events: none;

        &:hover {
            color: $white;
            background-color: $black;
            box-shadow: none;
        }
    }
}

.download {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    $download: &;

    &__icon-btn {
        width: 50px;
        height: 50px;
        background-color: $black;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            & + .button--download {
                opacity: 1;
            }
        }
    }

    &__icon {
        color: $white;
    }
}