@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
.card__title {
  font-family: "Roboto", sans-serif;
  font-size: .95rem;
  color: #6b6b6b; }
  .card__title::before {
    content: "";
    width: 3px;
    height: .9rem;
    display: inline-block;
    background-color: #6b6b6b;
    margin-right: .6rem; }

.card__wrapper {
  position: relative; }
  .card__wrapper:hover .card__buttons {
    transform: scaleY(1); }
  .card__wrapper:hover .card__link {
    opacity: 1; }

.card__image {
  max-width: 100%;
  display: block;
  cursor: pointer; }

.card__buttons {
  background: rgba(0, 0, 0, 0.856);
  padding: 1rem;
  width: 100%;
  position: absolute;
  bottom: 0;
  transform: scaleY(0);
  transform-origin: bottom;
  transition: .2s ease-out;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .card__buttons--active {
    transform: scaleY(1); }
    .card__buttons--active .card__link {
      opacity: 1; }

.card__link {
  font-family: "Alata", sans-serif;
  font-size: .88rem;
  color: white;
  text-decoration: none;
  opacity: 0;
  transition: .2s ease-in-out .1s; }

html {
  box-sizing: border-box; }

body {
  box-sizing: inherit;
  margin: 0; }

* {
  box-sizing: inherit; }

.header {
  position: sticky;
  top: 0;
  padding: 1.5rem;
  background-color: #171717;
  z-index: 99;
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media (min-width: 48rem) {
    .header {
      padding: 1.5rem 4rem; } }
  @media (min-width: 64rem) {
    .header {
      padding: 4rem 2.5rem 0; } }
  .header__toggle {
    cursor: pointer; }
    @media (min-width: 64rem) {
      .header__toggle {
        display: none; } }
    .header__toggle--active .header__burger--first {
      transform: rotate(45deg); }
    .header__toggle--active .header__burger--mid {
      opacity: 0; }
    .header__toggle--active .header__burger--last {
      transform: rotate(-45deg); }
  .header__burger {
    width: 1.2rem;
    height: 3px;
    background-color: white;
    border-radius: 2rem;
    transition: .2s ease-out; }
    .header__burger:not(:last-child) {
      margin-bottom: 4px; }
    .header__burger--first {
      transform-origin: 2px 1px; }
    .header__burger--last {
      transform-origin: -2px 0px; }

.logo {
  font-family: "Alata", sans-serif;
  color: white;
  margin: 0;
  line-height: 100%;
  cursor: default; }

.nav {
  background-color: rgba(0, 0, 0, 0.856);
  padding: 2rem 0 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 80px;
  left: -100%;
  bottom: 0;
  width: 100%;
  transition: .2s ease-out;
  z-index: 5; }
  @media (min-width: 64rem) {
    .nav {
      padding: 2rem 2.5rem 5rem;
      transition: none;
      left: 0;
      grid-area: sidebar;
      width: 250px;
      background-color: #171717; } }
  .nav--active {
    left: 0; }
  .nav__logo {
    display: none; }
  .nav__menu {
    list-style: none;
    padding: 0;
    text-align: center;
    width: 100%; }
    @media (min-width: 64rem) {
      .nav__menu {
        text-align: left; } }
  .nav__item {
    display: block;
    font-family: "Alata", sans-serif;
    color: #a6a6a6;
    padding: 1rem 0;
    cursor: pointer; }
    .nav__item::after {
      content: "";
      display: block;
      width: 20px;
      height: 2px;
      background-color: white;
      margin: .5rem auto 0;
      transform: scaleX(0);
      transform-origin: left;
      transition: .2s ease; }
      @media (min-width: 64rem) {
        .nav__item::after {
          margin: .5rem 0 0; } }
    .nav__item:hover, .nav__item--active {
      color: white; }
      .nav__item:hover::after, .nav__item--active::after {
        transform: scaleX(1); }
  .nav__icons {
    margin: 0 auto; }
  .nav__icon {
    color: #a6a6a6;
    margin: 0 .8rem;
    font-size: 1.5rem; }
    @media (min-width: 64rem) {
      .nav__icon {
        font-size: 1.2rem; } }
    .nav__icon:hover {
      color: white; }

.container {
  padding: 2rem 1.5rem; }
  @media (min-width: 48rem) {
    .container {
      padding: 4rem; } }
  .container__title {
    font-family: "Alata", sans-serif;
    margin: 0 0 2rem;
    line-height: 100%; }

@media (min-width: 64rem) {
  .main-content {
    grid-area: main; } }

.grid {
  display: grid; }
  @media (min-width: 64rem) {
    .grid--layout {
      grid-template-columns: 250px 1fr;
      grid-template-areas: "header main" "sidebar main"; } }
  .grid--portfolio {
    grid-gap: 2rem; }
    @media (min-width: 48rem) {
      .grid--portfolio {
        grid-template-columns: repeat(2, 1fr); } }
  .grid--skills {
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); }

.skill {
  display: flex;
  align-items: center; }
  .skill__wrapper {
    width: 100%; }
  .skill__icon {
    margin-right: 1rem;
    max-width: 60px; }
  .skill__name {
    font-family: "Roboto", sans-serif;
    font-size: .95rem;
    color: #6b6b6b;
    margin: 0 0 .5rem; }
  .skill__percentage {
    font-family: "Alata", sans-serif;
    font-size: .78rem;
    margin: 0;
    position: absolute;
    right: .5rem;
    color: white;
    line-height: 100%; }
  .skill__bar {
    height: 1rem;
    border-radius: 2rem;
    position: relative;
    transform: scaleX(0);
    transform-origin: left;
    transition: .3s ease-in-out;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .skill__bar--active {
      transform: scaleX(1); }
    .skill__bar--photoshop {
      background-color: #001f38; }
    .skill__bar--html {
      background-color: #e54e24; }
    .skill__bar--css {
      background-color: #2061ac; }
    .skill__bar--sass {
      background-color: #cc6697; }
    .skill__bar--javascript {
      background-color: #f7dd1d; }
    .skill__bar--react {
      background-color: #00ccff; }

.work {
  border: 1px solid rgba(0, 0, 0, 0.856);
  padding: 1rem;
  border-radius: .5rem;
  margin-bottom: 1.5rem; }
  .work__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .work__details {
    font-family: "Roboto", sans-serif; }
  .work__company-name {
    font-family: "Alata", sans-serif;
    font-size: 1.2rem;
    margin: 0 0 .4rem; }
  .work__date {
    font-size: .88rem;
    color: rgba(0, 0, 0, 0.856);
    margin: 0; }
  .work__tasks {
    padding: 0 1rem;
    margin: 1.5rem 0 0; }
  .work__task {
    font-size: .88rem;
    color: #6b6b6b;
    margin-bottom: .4rem; }

.contact__text {
  font-family: "Roboto", sans-serif;
  font-size: .95rem;
  color: #6b6b6b;
  margin-bottom: 2rem; }
  .contact__text--emphasis {
    color: #171717; }

.form__field {
  outline: none;
  background: none;
  border: 1px solid #a6a6a6;
  width: 100%;
  padding: .8rem;
  border-radius: .5rem;
  margin-bottom: 1rem;
  font-family: "Roboto", sans-serif;
  font-size: .9rem; }
  .form__field::placeholder {
    font-family: "Roboto", sans-serif;
    color: #a6a6a6; }

.button {
  outline: none;
  border: none;
  background-color: #171717;
  color: white;
  padding: .5rem 1.5rem;
  font-family: "Alata", sans-serif;
  font-size: .9rem;
  border-radius: .5rem;
  transition: .2s ease-out;
  cursor: pointer; }
  .button:hover {
    color: #171717;
    box-shadow: 0 0 0 2px #171717;
    background-color: transparent; }
  .button--download {
    position: absolute;
    top: 50%;
    right: 0;
    width: 230px;
    transform: translateY(-50%);
    height: 50px;
    z-index: -1;
    padding: .5rem 3rem .5rem 1.5rem;
    opacity: 0;
    pointer-events: none; }
    .button--download:hover {
      color: white;
      background-color: #171717;
      box-shadow: none; }

.download {
  position: fixed;
  right: 1rem;
  bottom: 1rem; }
  .download__icon-btn {
    width: 50px;
    height: 50px;
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer; }
    .download__icon-btn:hover + .button--download {
      opacity: 1; }
  .download__icon {
    color: white; }
